*{
    box-sizing: border-box;
    margin: 0;
}



/* Desktop View / Normal View */

body{
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-color: #19a2ae;
    background-position: top -500px left -200px, bottom -730px right -190px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    padding: 15% 38% 10%;
    text-align: center;
}

/* Card Top */
.card{
    background-color: #fff;
    border-radius: 20px;
    padding: 25% 10% 10%;
    background-image: url("images/bg-pattern-card.svg");
    background-position: top -200px;
    background-repeat: repeat-x;
    box-shadow: .1px  30px 500px #6a6f81;
}
.card-top img{
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 15px;
}
.card-top p{
    line-height: 2.5;
    margin-bottom: 20px;
    font-size: .95rem;
   
}

/* Card Rate */

span{
    color: #969696;
     font-weight: 400;
}
hr{
    margin-top: 10%;
    color: #eae7e7;
    border: .1px solid;
}
.card-rate{
    display: flex;
    padding: 10% 0 2%;
	justify-content: center;
}
.ratings{
    padding: 0 8%;
    line-height: 1.5;
}
.ratings p{
    font-size: .7em;
}

/* Footer / Atrribution */
.attribution {
    text-align: center;
    font-size: .8rem;
    padding: 5rem 2rem 3rem;
    font-weight: 600;
    color: black;
}

.attribution a {
    text-decoration: none;
    font-size: .8rem;
    color: yellow;
}

/* Mobile View */

@media screen and (max-width:600px) {
    body{
     background-position: top -600px left -700px, bottom -700px right -700px;
    }
    main{
        padding: 25% 8%;
    }
}


/* Tablet View */

@media only screen and (min-width:600px) and (max-width: 1200px) {
	body{
    background-position: top -500px left -500px, bottom -750px right -500px;
}

main{
    padding: 15% 20%
}
.card{
	padding: 15% 10% 10%;
}
}
